# Django e DRF
Django==5.0.1
djangorestframework==3.14.0
django-cors-headers==4.3.1

# Database (usando psycopg2-binary para evitar compilação)
psycopg2-binary==2.9.9

# Authentication
djangorestframework-simplejwt==5.3.0

# Configuração
python-decouple==3.8

# Servidor de produção
gunicorn==21.2.0

# HTTP requests
requests==2.31.0

# Timezone
pytz==2023.3